<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Welcome to The Gym</title>

    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>


    {% load static %}
    <link rel="stylesheet" href="{% static 'css\gym.css' %}">    
    <script src="{% static 'js/script.js' %}"></script>
</head>
<body>

    <div class="container-fluid">
        <div class="jumbotron jumbotron-fluid">
            <h1 class="display-4">Welcom to the Com3 Unity Gym</h1>
            <p class="lead">As you wait for the coach to enter the room, please chat with one another in the waiting area. You can also send private messages to each other by clicking on the user name with who you want to chat with. .</p>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="iframe-container" style="overflow: hidden; padding-top: 56.25%; position: relative;">
                    <iframe allow="microphone; camera" style="border: 0; height: 100%; left: 0; position: absolute; top: 0; width: 100%;" src="https://success.zoom.us/wc/join/{meeting-id}" frameborder="0"></iframe>
                </div>               
            </div>
            <div class="card">
                <div class="card-header">
                    <h3>Welcome to the waiting room </h3>
                </div>
                <div class="card-body">
                      This is some text within a card body.
                </div>
                <div class="message-input">
                    <input type="text" placeholder="Write your message..." />
                    <button type="button" class="btn btn-secondary">Secondary</button>
                    </div>
                </div>
                        
        </div>




    </div>
    <!-- <div class="container">
        <div class="user">
            <h1> Welcome back {{current_user.first_name}}  </h1>
            <h3> Lets get to your goal of, {{current_user.workout_goals}}  </h3>
            <a href="/video">Let get to the work out session here</a>
        </div>
        
        <div class="usercomments">
            <h4>Here are you Comments </h4>
            <div>
                {% for comment in current_user.comments.all %}
                    <h5>{{comment.comment}}</h5>
                    <h6>{{comment.created_at}}</h6>
                {% endfor %}
            </div>
        </div>

        <div class="chat">
            <h4>Welcome to chat with others</h4>
            <div id="chatbubble">
                <p>place holder for chat box</p>
            </div>
            <form class= "chatinput" action="chat" method="POST">
            {% csrf_token %}
            {{chat}}
            <input type="submit">
            </form>


        </div>


    
        <div class="users">
            {% for user in users %}
                <h2>{{user.first_name}} {{user.last_name}}</h2>
                <h5>comment:</h5>
                {% for comment in user.comments.all%}

                <h5>{{comment.comment}}</h5>
                <h6>{{comment.user_posted.first_name}}</h6>

                {% if request.session.id == comment.user_posted.id %}
                <a href="/edit_comment/{{comment.id}}">edit</a> | <a href="/delete_comment/{{comment.id}}"><input type="button" value="Delete"></a>
                {% endif%}
                {% endfor %}

                    <form action="/comments" method="POST">

                        {% csrf_token %}

                        <h4>comment: <input type="text" name="comment_input"></h4>
                        <input type="hidden" name="user_com" value="{{user.id}}">


                        <input type="submit" value="Post">
                    </form>


                {% endfor %}



        </div>

        <a href="/logout">Log Out</a>
    </div> -->


    
</body>
</html>