<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Welcome to The Gym</title>

    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">


    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>


    {% load static %}
    <link rel="stylesheet" href="{% static 'css\gy.css' %}">    
    <script src="{% static 'js/chat.js' %}"></script>
</head>
<body>

    

  <!-- nav bar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <a class="navbar-brand text-light" href="/" > Com3unity </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link text-light" href="/classes">Classes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="/about">Coach</a>
        </li>
        <!-- Trigger the modal registration -->
        <li class="nav-item">
            <a class="nav-link text-light" href="" data-toggle="modal" data-target="#modalRegistration">Registration</a>
          </li>
        </li>
        <!-- Trigger the modal login to gym -->
        <li class="nav-item">
          <a class="nav-link text-light" href="" data-toggle="modal" data-target="#modalLogin">Online Gym</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="https://teespring.com/stores/com3unity-fitness">Shop</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
      </form>
    </div>
  </nav>



    <!-- <div class="container-fluid"> -->
        <div class="jumbotron jumbotron-fluid">
            <h1 class="display-4">Welcom to the Com3 Unity Gym</h1>
            <p class="lead">As you wait for the coach to enter the room, please chat with one another in the waiting area.</p>

            <a href="/logout">logout</a>

        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-header">
                        <h4>Welcome to chat with others</h4>
                            
            <!-- <form class= "chatinput" action="chat" method="POST">
            {% csrf_token %}
            {{chat}}
            <input type="submit">
            </form> -->
                    </div>
                    <div class="card-body">
                        <div id="chatbubble">
                            <p>place holder for chat box</p>
                        </div>
                        <div class="chat"></div>
                    </div>
                    <div class="message-input">
                        <form  action="/comments" method="POST">
                        {% csrf_token %}
                            <input id="textarea" type="text" name="comment_input" placeholder="Write your message..." />
                            <button type="submit" value="POST" class="btn btn-secondary">send</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="iframe-container" style="overflow: hidden; padding-top: 56.25%; position: relative;">
                <iframe allow="microphone; camera" style="border: 0; height: 100%; left: 0; position: absolute; top: 0; width: 100%;" src="https://success.zoom.us/wc/join/{meeting-id}" frameborder="0"></iframe>
            </div>               
        </div>
                        
    <!-- </div> -->




    
    <!-- <div class="container">
        <div class="user">
            <h1> Welcome back {{current_user.first_name}}  </h1>
            <h3> Lets get to your goal of, {{current_user.workout_goals}}  </h3>
            <a href="/video">Let get to the work out session here</a>
        </div>
        
       



    
        <div class="users">
            {% for user in users %}
                <h2>{{user.first_name}} {{user.last_name}}</h2>
                <h5>comment:</h5>
                {% for comment in user.comments.all%}

                <h5>{{comment.comment}}</h5>
                <h6>{{comment.user_posted.first_name}}</h6>

                {% if request.session.id == comment.user_posted.id %}
                <a href="/edit_comment/{{comment.id}}">edit</a> | <a href="/delete_comment/{{comment.id}}"><input type="button" value="Delete"></a>
                {% endif%}
                {% endfor %}

                    <form action="/comments" method="POST">

                        {% csrf_token %}

                        <h4>comment: <input type="text" name="comment_input"></h4>
                        <input type="hidden" name="user_com" value="{{user.id}}">


                        <input type="submit" value="Post">
                    </form>


                {% endfor %}



        </div> -->

</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.2/dist/jquery.validate.js"></script>
</html>