
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Com3unity Fitness</title>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
    
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="YOUR_CLIENT_ID.apps.googleusercontent.com">

    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v8.0&appId=649411619055809&autoLogAppEvents=1" nonce="zceEojnQ"></script>


    {% load static %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">    
    <script src="{% static 'js/script.js' %}"></script>

</head>
<body>

  <!-- nav bar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <a class="navbar-brand text-light" href="/" > Com3unity </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link text-light" href="/">About<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="/classes">Classes</a>
        </li>
        <!-- Trigger the modal registration -->
        <li class="nav-item">
            <a class="nav-link text-light" href="" data-toggle="modal" data-target="#modalRegistration">Registration</a>
          </li>
        </li>
        <!-- Trigger the modal login to gym -->
        <li class="nav-item">
          <a class="nav-link text-light" href="" data-toggle="modal" data-target="#modalLogin">Online Gym</a>
        </li>
      </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
      </form>
    </div>
  </nav>


  <!--Modal: Registrations -->
  <div class="modal fade" id="modalRegistration" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Registration</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Email</label>
              <input type="text" class="form-control" id="email">
            </div>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">User Name</label>
              <input type="text" class="form-control" id="username">
            </div>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Password</label>
              <input type="text" class="form-control" id="password">
            </div>
            <label for="recipient-name" class="col-form-label">Confirm Password</label>
            <input type="text" class="form-control" id="cpassword">
          </form>
          <!-- google login -->
          <div class="g-signin2" data-onsuccess="onSignIn"></div>
          <!-- facebook login -->
          <div class="fb-login-button" data-size="small" data-button-type="continue_with" data-layout="default" data-auto-logout-link="false" data-use-continue-as="false" data-width=""></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Register</button>
        </div>
      </div>
    </div>
  </div>  
   <!--Modal: Registrations -->
   <div class="modal fade" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Login</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">User Name</label>
              <input type="text" class="form-control" id="username">
            </div>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Password</label>
              <input type="text" class="form-control" id="Password">
            </div>
          </form>
          <!-- google login -->
          <div class="g-signin2" data-onsuccess="onSignIn"></div>
          <!-- facebook login -->
          <div class="fb-login-button" data-size="small" data-button-type="continue_with" data-layout="default" data-auto-logout-link="false" data-use-continue-as="false" data-width=""></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Login</button>
        </div>
      </div>
    </div>
  </div>

  

  <h1 class="site-heading text-center text-white d-none d-lg-block">
    <span class="site-heading-upper text-white mb-3">Workingout together for cause</span>
    <span class="site-heading-lower">Com3unity</span>
  </h1>

  <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="static\images\profile.jpg" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">Coach</span>
            <span class="section-heading-lower">Peter Tapao</span>
          </h2>
          <p class="mb-3">My fitness journey started when I diagnosed with Acute Eczema and lived constant pain. I was miserable, I was picked on, people were scared of me, and hated every moment of my life growing up.  
          <br>
          It was in the playground that I felt most free and dreamed of being an athlete. I worked hard and pushed harder to become more athletic and discovered my passion for fitness. Personal training and group exercise was my platform of stepping out of my shell. I want to show and teach people how to push, overcome, and be resilient by exercising your mind and body. 
          I've broken through all my adversities through fitness and want to share these experiances so other we can brake through anything. Giving back and blessing people with this hope is what I strive for to make the world a better place. 
          <br> 
          Fitness is my lifestyle and welcome to Com3unity.  
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section cta">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner text-center rounded">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">My Promise</span>
              <span class="section-heading-lower">To You</span>
            </h2>
            <p class="mb-0">I promise to motivate, encourage and push you to be your best. My goal is to prepare you to prepare you for your fitness journey. We will work together to execute, meet, and exceed your goals, and find the new you.
            <br>
            I'm here for your progress in this journey.  I'm here to be your coach!</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- footer -->

  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
    </div>


</div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
            
  </body>
</html>