<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/reg.css' %}">    
    <script src="{% static 'js/script.js' %}"></script>
</head>
<body>



    <h2>Registration</h2>

    <form action="/reg" method="POST">

        {% csrf_token %}

        <h3>Frist Name: <input type="text" name="fname_input"></h3>
        <h3>Last Name: <input type="text" name="lname_input"></h3>
        <h3>Email: <input type="text" name="email_input"></h3>
        <h3>Password: <input type="text" name="password_input"></h3>
        <h3>Confirm PW: <input type="text" name="confirmpw_input"></h3>
        <h3>Tell me about you work out goals <textarea name="workout_input" id="" cols="50" rows="10"></textarea></h3>

        {% if messages %}
        <ul class="messages">    
            {% for message in messages %}    
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
            {% endfor %}
        </ul>
        {% endif %}
    
        <input type="submit" value="Register">

    </form>



    
</body>
</html>