<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/reg.css' %}">    
    <script src="{% static 'js/script.js' %}"></script>
</head>
<body>



    <h1>Registration</h1>
    <div class="gif-container">
        <div class="reg">
            <form action="/reg" method="POST">

                {% csrf_token %}

                <p>Frist Name </p>
                <input type="text" name="fname_input">
                <p>Last Name</p>
                <input type="text" name="lname_input">
                <p>Email</p>
                <input type="text" name="email_input">
                <p>Password</p>
                <input type="text" name="password_input">
                <p>Confirm PW</p>
                <input type="text" name="confirmpw_input">
                <p>Tell me about you work out goals</p>
                <textarea name="workout_input" id="" cols="50" rows="10"></textarea>
                <br>
                <input type="submit" value="Register">
            </form>
        </div>
        <div class="messages">

            {% if messages %}
            <ul class="messages">    
                {% for message in messages %}    
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        
            

        
    </div>


    
</body>
</html>