* {
    margin: 0 auto;
    height: 0 auto;
    padding: 5px;
}

.gif-container {
    background: url(../images/athletic.jpg) center;
    background-size: cover;
    height: 100%;
  }

  h1{
      font-size: 50px;
      font-variant: small-caps;
      color: #000;
      margin-left: 460px;
  }

.reg{
    display: inline-block;
    height: 700px;
    width: 600px;  

}


p{
    color: darkgrey;
    font-size: 12pt;
    font-style: italic;
    font-weight: 300;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.messages{
    display: inline-block;
    height: 500px;
    width: 400px;
    color: rgba(230, 19, 19, 0.905);
    font-size: 18pt;
    font-style: italic;
    vertical-align: top;
}